map(',k','gg')
map('h', 'E');
map('l', 'R');
map('P', 'cc');
mapkey('p', "Open the clipboard's URL in the current tab", function() {
    Clipboard.read(function(response) {
        window.location.href = response.data;
    });
});

clipboard
    https://github.com/brookhong/Surfingkeys/issues/888
    https://github.com/brookhong/Surfingkeys/issues/554
        -- p map, not work
        https://github.com/brookhong/Surfingkeys/issues/622
        fix, function changed

map('l', ':feedkeys E', 0, "#3Go to the previous tab");

passThrough | insert mode https://github.com/brookhong/Surfingkeys/issues/656

作业推广宣传
    2015-09-12 https://www.v2ex.com/t/220272
        作者主页 https://www.v2ex.com/member/hzgmaxwell
项目主页
    https://github.com/brookhong/Surfingkeys
https://github.com/brookhong/Surfingkeys/wiki/常见问题
https://github.com/brookhong/Surfingkeys/blob/master/README_CN.md
// vim: cms=//%s
